{% load static %}
{% include 'partials/messages.html' %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Default Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    </head>
    <body>
        <header class="main-header">
            <div class="container">{% include 'partials/menu.html' %}</div>
        </header>
        <main class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
